@import './base.css';

#app {
  max-width: none; /* 移除最大宽度限制 */
  margin: 0; /* 移除自动边距 */
  padding: 0; /* 移除内边距 */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    /* place-items: center; */
  }

  #app {
    /* display: grid; */ /* 移除网格布局 */
    /* grid-template-columns: 1fr 1fr; */ /* 移除网格列 */
    padding: 0; /* 移除内边距 */
  }
}
